$bg: #fee445;
$black: #000000;
$white: #ffffff;
$red: #ff0000;

$light-black: #888888;

$placeholder-color: #555555;

$card-grey: #dfdfdf;
$card-dark-grey: #d1cdca;
$card-red: #59351d;

$light-yellow: rgba(255, 255, 255, 0.90);